{% extends 'dummy.html' %}

{% block title %}
    <title>Home Page</title>

{% endblock %}


{% block body_block %}
    
<style>
    .card
{
    
    width:300px;
    height: 300px;
    margin-top:200px;
    margin-left: -130px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background-color: rgb(59, 102, 17);
    
}
.card:hover
{
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px 25px;
    cursor: pointer;
    box-shadow: 
   0 0 0 1px green, /* thin green border */
   0 2px 2px rgba(0,0,0,0.2), /* soft black drop shadow */
   1px 1px 1px rgba(0,0,0,0.2), /* offset the top-right corner */
   -1px -1px 1px rgba(0,0,0,0.2), /* and the bottom-left corner */
   0 0 2px rgba(60, 163, 15, 0.2) /* add a bit more shadow to the whole thing */

}
.input,input
{
    border: none;
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: 10px 10px 5px 12px lightblue
    
}
body
{
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    margin-right:150px;

}

</style>
    <form method="POST">
        {% csrf_token %}
        
        <div class="card">
        <label for="password">password</label>
        <input type="password" name="password" id="password">
        <br>
        <br><input type="submit" value="change_password" class="btn btn-danger">
        </div>

    </form>

{% endblock %}