{% extends 'dummy.html' %}

{% block title %}
    <title>Home Page</title>

{% endblock %}


{% block body_block %}
<style>
    body
    {
        background-image: url("https://img.freepik.com/premium-photo/toy-shopping-cart-with-boxes-shopping-delivery-concept-consumer-society-trend_135649-1633.jpg?w=1380");
        background-repeat: no-repeat;
        background-size: cover;
    }
   
    .container-fluid
    {
        background-color: rgb(205, 185, 185);
        width: 300px;
        height: 300px;
        border-radius: 20px;
        margin-top: 10%;
        margin-left: 0%;
    

    }
    .container-fluid:hover
    {
        cursor: pointer;
        box-shadow: 2px 1px 20px 2px rgb(0, 0, 0);
    }
    h1
    {
        font-style: normal;
        font-size: larger;
        font-weight: bolder;
        color: rgb(255, 57, 156);

    }
    input
    {
        border: none;
        margin-top: 20%;
        border-radius: 25%;
    }
    input:hover
    {
      
        border-top-right-radius: 20%;
        border-bottom-left-radius: 20%;
        background-color: rgb(183, 241, 241);
    }
    .one
    {
        animation-name: move;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-direction: normal;
        animation-duration: 20s;
        animation-iteration-count: infinite;
        position: relative;
        width: 20px;
        background-color: rgb(255, 241, 241);
    }
    img
    {
        width: 100px;
        height: 100px;
    }
    
    @keyframes move
    {
        0%,100%
        {
            top: 0px;
            left: 0px;
        }
        25%
        {
            left: 600px;
            top: 0px;
            border-radius: 50px;
        }
        50%
        {
            top: 600px;
            left: 600px;
        }
        75%
        {
            top: 600px;
            left: 0px;
        }
    }
</style>
<!-- <div class="one">
    <img src="https://openclipart.org/image/2400px/svg_to_png/188461/gesloten-slot.png">
    <h1>RESET_PASSWORD</h1>
</div> -->

    <form method="POST">
        {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
        <div class="col-xl-12 col-lg-4 col-md-6 col-sm-12">
        <label for="un">UserName</label>
        <input type="text" name="un" id="un" placeholder=" Enter Username"><br><br>

        <label for="pw">password</label>
        <input type="password" name="pw" id="pw" placeholder="Enter Password"><br><br>

        <input type="submit" value="reset" class="btn btn-primary">
    </form>
</div>
</div>
</div>
{% endblock %}
